name: ASP.NET Web API CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x" # change to 7.0.x if needed

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Run tests
        run:
          dotnet test --no-build --verbosity normal

          # ---- Docker ----
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build & Push Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/capstone_be:2.0 .
          docker push ${{ secrets.DOCKER_USERNAME }}/capstone_be:2.0

      # ---- Azure ----
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Container App
        run: |
          az containerapp update \
            --name fctmscapstone \
            --resource-group capstoneResourceGroup \
            --image docker.io/${{ secrets.DOCKER_USERNAME }}/capstone_be:2.0
